@media (max-width: 1250px) {
  .header__online {
    padding: 0 10px;
  }
  
  .header__request {
    padding: 0 10px;
  }
  
  .info__title {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 1180px) {
  .container {
    padding: 0 25px;
  }
  
  .header .logo__img {
    width: 200px;
    height: auto;
  }
  
  .menu__link {
    padding: 0 5px;
  }
  
  .header__online {
    gap: 5px;
    padding: 0 5px;
  }
  
  .header__request {
    padding: 0 5px;
  }
  
  .menu__text {
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__navs {
    gap: 30px;
  }
  
  .all {
    padding: 15px 25px;
  }
  
  .matches__link {
    padding: 10px 25px;
  }
  
  .all__text {
    font-size: 22px;
    line-height: 26px;
  }
  
  .info {
    padding: 10px 25px;
  }
  
  .info__title {
    font-size: 20px;
    line-height: 24px;
  }
  
  .new__content {
    gap: 30px;
  }
  
  .new__title {
    font-size: 28px;
    line-height: 32px;
    -webkit-line-clamp: 2;
  }
  
  .school__name {
    font-size: 22px;
    line-height: 26px;
  }
  
  .main__wrap {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
  }
  
  .organize__title {
    font-size: 22px;
    line-height: 26px;
  }
  
  .organize__text {
    font-size: 18px;
    line-height: 22px;
  }
  
  .matches__list {
    border: none;
  }
}
