@media (max-width: 780px) {
  .container {
    padding: 0 20px;
  }
  
  .dropdown__title .dropdown__link {
    font-size: 16px;
    line-height: 20px;
  }
  
  .header .logo__img {
    width: 140px;
  }
  
  .header__wrapper {
    top: 96px;
    max-height: calc(100vh - 97px);
  }
  
  .footer__row {
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .payments {
    width: 100%;
    justify-content: center;
  }
  
  .footer__navs {
    gap: 20px;
  }
  
  .all {
    padding: 15px;
  }
  
  .all__text {
    font-size: 20px;
    line-height: 24px;
  }
  
  .new__date {
    font-size: 18px;
    line-height: 22px;
  }
  
  .new__content {
    gap: 20px;
    position: static;
    background-color: var(--blue-dark);
    height: 170px;
    justify-content: space-between;
  }
  
  .new__title {
    font-size: 24px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slider__navs {
    display: none;
  }
  
  .new__wrap:after {
    display: none;
  }

  .new .button {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0 0 0 auto;
    height: auto;
  }
  
  .button__icon {
    stroke: var(--blue);
    display: block;
  }
  
  .button__text {
    font-size: 16px;
    line-height: 20px;
  }
  
  .points {
    top: calc(50% - 85px);
  }
  
  .school__group {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .school__name {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 680px) {
  .footer__navs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
