@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
  
  .dropdown__title .dropdown__link {
    font-size: 14px;
    line-height: 18px;
  }
  
  .header .logo__img {
    width: 110px;
  }
  
  .header__wrapper {
    top: 90px;
    max-height: calc(100vh - 90px);
  }
  
  .header__digit {
    font-size: 20px;
    line-height: 24px;
  }
  
  .header__link {
    font-size: 18px;
    line-height: 22px;
  }
  
  .footer__navs {
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  
  .footer__row {
    flex-direction: column;
  }
  
  .header__text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  
  .all {
    padding: 5px 10px;
  }
  
  .all__text {
    font-size: 18px;
    line-height: 22px;
  }

  .new__date {
    font-size: 16px;
    line-height: 16px;
  }
  
  .new__content {
    gap: 10px;
    padding: 10px;
    height: 116px;
  }
  
  .new__title {
    font-size: 18px;
    line-height: 20px;
  }
  
  .points {
    left: 10px;
  }
  
  .button__text {
    font-size: 14px;
    line-height: 18px;
  }
  
  .dropdown--dark {
    margin: 0 0 0 -10px;
  }
  
  .dropdown__title {
    padding: 0 10px;
  }
  
  .dropdown__option .dropdown__link {
    padding: 10px;
  }
  
  .points {
    top: calc(50% - 58px);
    gap: 5px;
    margin: -15px 0 0;
  }
  
  .points__item {
    width: 7px;
    height: 7px;
  }
  
  .school {
    padding: 10px;
    gap: 5px;
  }
  
  .school__name {
    font-size: 14px;
    line-height: 16px;
  }
  
  .school__logo {
    width: 80px;
    height: 80px;
  }
  
  .button {
    font-size: 12px;
    line-height: 16px;
    height: 30px;
    padding: 5px 10px;
  }
  
  .organize {
    padding: 20px 10px;
  }
  
  .organize__title {
    font-size: 16px;
    line-height: 20px;
  }
  
  .organize__text {
    font-size: 14px;
    line-height: 18px;
  }
  
  .content {
    gap: 40px;
  }
  
  .texts {
    gap: 15px;
  }
  
  .title {
    font-size: 20px;
    line-height: 24px;
  }
  
  .contacts__column {
    gap: 15px;
  }
  
  .contacts__list {
    gap: 15px;
  }
  
  .contacts__name {
    font-size: 16px;
    line-height: 20px;
  }
  
  .contacts__street {
    font-size: 16px;
    line-height: 20px;
  }
  
  .contacts__link {
    gap: 10px;
  }
  
  .contacts__icon {
    width: 20px;
    height: 20px;
  }
  
  .contacts__map {
    margin: 0 -10px;
    width: calc(100% + 20px);
  }
  
  .contacts__row {
    padding: 30px 0;
  }
  
  .contacts__title {
    font-size: 20px;
    line-height: 24px;
  }
}
