@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url("../fonts/roboto-regular.woff2") format("woff2"),
  url("../fonts/roboto-regular.woff") format("woff"),
  url("../fonts/roboto-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url("../fonts/roboto-medium.woff2") format("woff2"),
  url("../fonts/roboto-medium.woff") format("woff"),
  url("../fonts/roboto-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url("../fonts/roboto-bold.woff2") format("woff2"),
  url("../fonts/roboto-bold.woff") format("woff"),
  url("../fonts/roboto-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'),
  url("../fonts/roboto-bold.woff2") format("woff2"),
  url("../fonts/roboto-bold.woff") format("woff"),
  url("../fonts/roboto-bold.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('TTNorms Medium'), local('TTNorms-Medium'),
  url("../fonts/ttnorms-medium.woff2") format("woff2"),
  url("../fonts/ttnorms-medium.woff") format("woff"),
  url("../fonts/ttnorms-medium.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('TTNorms Bold'), local('TTNorms-Bold'),
  url("../fonts/ttnorms-bold.woff2") format("woff2"),
  url("../fonts/ttnorms-bold.woff") format("woff"),
  url("../fonts/ttnorms-bold.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --white-opacity: 255, 255, 255;
  --white-dark: #fbfafb;
  --white-dark-opacity: 251, 250, 251;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --black-light: #181818;
  --dark: #31344F;
  --dark-opacity: 49, 52, 79;
  --gray-light: #F3F3F3;
  --gray-light-1: #DFDFDF;
  --gray: #737373;
  --gray-opacity: 115, 115, 115;
  --gray-1: #DADADA;
  --gray-2: #959595;
  --blue: #146BA7;
  --blue-1: #263F65;
  --blue-light: #1568A4;
  --blue-light-1: #128ECC;
  --sky: #D9EEFF;
  --blue-dark: #2C304F;
  --red: #D72924;
  --red-light: #FD1E4F;
  --green: #26A135;
  --green-light: #27AE60;
}

/* применение var(--white); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
}

button {
  border: none;
  outline: none;
  background-color: initial;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

input {
  outline: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  border: none;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

[data-empty]:empty {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /*font-size: 18px;
  line-height: 24px;*/
}

[data-empty]:empty:after {
  content: attr(data-empty);
}

.empty {
  display: flex;
  justify-content: center;
  text-align: center;
  /*font-size: 16px;
  line-height: 20px;
  font-weight: 600;*/
}

html.fixed-safari {
  height: calc(100vh + 80px);
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.fixed-safari::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body.fixed-safari {
  height: 100%;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.fixed-safari::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body.fixed {
  overflow: hidden;
}

.body__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.header__top {
  background-color: var(--gray-light);
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 30px;
}

.container--mobile {
  padding: 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown--dark {
  height: 50px;
  margin: 0 0 0 -15px;
}

.dropdown--white {
  height: 40px;
}

.dropdown__title {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.dropdown--dark .dropdown__title {
  padding: 0 15px;
}

.dropdown--white .dropdown__title {
  padding: 5px 10px;
  border: 1px solid var(--gray-light-1);
  justify-content: space-between;
}

.dropdown--dark.js-open .dropdown__title {
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(var(--dark-opacity), 0.1);
}

.dropdown__title:after {
  content: '';
  flex-shrink: 0;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dropdown--dark .dropdown__title:after {
  width: 15px;
  height: 15px;
  background-image: url("../img/arrow-bottom.svg");
}

.dropdown--white .dropdown__title:after {
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow-bottom-line.svg");
}

.dropdown__title:hover:after {
  transition: 0.3s;
}

.dropdown--dark .dropdown__title:hover:after {
  background-image: url("../img/arrow-bottom-dark.svg");
}

.dropdown--white .dropdown__title:hover:after {
  background-image: url("../img/arrow-bottom-line-light.svg");
}

.dropdown.js-open .dropdown__title:after {
  transform: rotate(180deg);
  transition: 0.3s;
}

.dropdown__options {
  display: none;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100% !important;
}

.dropdown--dark .dropdown__options {
  background-color: var(--gray-light);
  min-width: 100%;
  box-shadow: 0 0 10px rgba(var(--dark-opacity), 0.1);
}

.dropdown__options li.js-active {
  display: none;
}

.dropdown--dark .dropdown__title .dropdown__link {
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
}

.dropdown--white .dropdown__title .dropdown__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown--dark .dropdown__option .dropdown__link {
  padding: 10px 15px;
  color: var(--blue-dark);
  display: flex;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 16px;
  line-height: 20px;
}

.dropdown--dark .dropdown__option .dropdown__link:hover {
  background-color: var(--sky);
  transition: 0.3s;
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials__link {
  display: flex;
}

.socials__icon {
  fill: var(--gray);
  transition: 0.3s;
}

.header .socials__link:hover .socials__icon {
  fill: var(--dark);
  transition: 0.3s;
}

.footer .socials__link:hover .socials__icon {
  fill: var(--blue-light-1);
  transition: 0.3s;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button {
  padding: 15px 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--gray);
  display: flex;
  transition: 0.3s;
}

.header__button--dark {
  background-color: rgba(var(--gray-opacity), 0.15);
}

.header__button:hover {
  color: var(--dark);
  transition: 0.3s;
}

.header__search {
  display: flex;
}

.header__icon {
  fill: var(--gray);
  transition: 0.3s;
}

.header__search:hover .header__icon {
  fill: var(--dark);
  transition: 0.3s;
}

.header__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 30px 0;
}

.logo {
  display: flex;
  flex-shrink: 0;
}

.logo__img {
  flex-shrink: 0;
}

.header__column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.header__numbers {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__numbers--mobile {
  display: none;
}

.socials--mobile {
  display: none;
}

.header__buttons--mobile {
  display: none;
}

.header__link {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  color: var(--blue-light);
  transition: 0.3s;
}

.header__link:hover {
  color: var(--blue-dark);
  transition: 0.3s;
}

.header__number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__phone {
  fill: var(--blue-light);
}

.header__digit {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--blue-light);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__item--active {
  border-bottom: 2px solid var(--blue-light-1);
}

.nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--blue-dark);
  padding: 5px 0;
  transition: 0.3s;
  display: flex;
}

.nav__item--active .nav__link,
.nav__link:hover {
  color: var(--blue-light-1);
  transition: 0.3s;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

.header__burger {
  display: none;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}

.header__burger span {
  width: 100%;
  background: var(--dark);
  height: 3px;
  display: block;
  position: relative;
  border-radius: 1px;
  transition: 0.3s;
}

.header__burger span:after,
.header__burger span:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark);
  border-radius: 1px;
  transition: 0.3s;
}

.header__burger span:before {
  top: -8px;
}

.header__burger span:after {
  bottom: -8px;
}

.header__burger.open span {
  background: transparent;
}

.header__burger.open span:before,
.header__burger.open span:after {
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}

.header__burger.open span:before {
  transition-property: top, transform;
}

.header__burger.open span:after {
  transition-property: bottom, transform;
}

.header__burger.open span:before {
  top: 0;
  transform: rotate(45deg);
}

.header__burger.open span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.header__burger.open span:before,
.header__burger.open span:after {
  transition-delay: 0s, 0.2s;
}

.header__mobile {
  display: none;
}

.header__bottom {
  background-color: var(--blue);
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.limiter {
  max-width: 1190px;
  margin: 0 auto;
}

.menu {
  height: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__item {
  height: 100%;
  position: relative;
}

.menu__link {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  transition: 0.3s;
}

.menu__item--active .menu__link {
  background-color: var(--white);
  color: var(--blue-dark);
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(var(--dark-opacity), 0.05), 0 5px 25px rgba(var(--dark-opacity), 0.1);
}

.menu__icon {
  fill: var(--white);
  transition: 0.3s;
}

.menu__item--active .menu__icon {
  fill: var(--blue-dark);
}

.menu__subs {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(var(--dark-opacity), 0.05), 0 20px 25px rgba(var(--dark-opacity), 0.1);
  transition: 0.3s;
}

.menu__unit {
  color: var(--blue-dark);
  padding: 10px 15px;
  display: flex;
  transition: 0.3s;
}

.menu__sub:hover .menu__unit,
.menu__sub--active .menu__unit {
  transition: 0.3s;
  background-color: var(--sky);
}

.header__group {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__group--mobile {
  display: none;
}

.header__online {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 0 20px;
}

.header__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__play {
  stroke: var(--white);
  fill: var(--white);
  transition: 0.3s;
}

.header__online:hover .header__play {
  stroke: var(--blue-dark);
  fill: var(--blue-dark);
  transition: 0.3s;
}

.header__request {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  padding: 0 15px;
  background-color: var(--red);
}

.header__info {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.header__arrow {
  stroke: var(--white);
  transition: 0.3s;
}

.header__request:hover .header__arrow {
  stroke: var(--blue-dark);
  transition: 0.3s;
}

.footer {
  background-color: var(--blue-1);
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 0;
}

.footer__navs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-transform: uppercase;
  transition: 0.3s;
}

.footer__link:hover {
  color: var(--blue-light-1);
  transition: 0.3s;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.socials--light .socials__list {
  gap: 15px;
}

.socials--light .socials__icon {
  fill: var(--white);
}

.payments {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payments__link {
  display: flex;
  border-radius: 4px;
  background-color: var(--white);
}

.slider__list {
  display: flex;
}

.slider__item {
  height: 100%;
}

.slider__row {
  display: flex;
}

.slider__wrapper {
  position: relative;
  width: 73%;
  flex-shrink: 0;
}

.new__wrap {
  position: relative;
}

.new__wrap:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--black-opacity), 0.2);
  z-index: 2;
}

.new__wrap:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(15, 3, 37, 0) 0%, rgba(6, 1, 22, 0.461458) 56.56%, #020214 100%);
  z-index: 3;
}

.new__img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.new__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 40px;
  padding: 25px;
}

.new__texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new__date {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.new__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background-color: var(--blue-light-1);
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  gap: 5px;
  transition: 0.3s;
}

.button--uppercase {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button--shadow {
  box-shadow: 0 7px 16px rgba(0, 0, 1, 0.25);
}

.button:hover {
  background-color: var(--blue);
  transition: 0.3s;
}

.button__icon--mobile {
  display: none;
}

.new .button {
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
}

.slider__column {
  display: flex;
  flex-direction: column;
  width: 27%;
}

.slider__navs {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  background-color: var(--white);
  height: 100%;
}

.slider__nav.tns-nav-active .info {
  background-color: var(--blue-dark);
}

.info__date {
  color: var(--blue-dark);
}

.slider__nav.tns-nav-active .info__date {
  color: var(--white);
}

.info__title {
  font-size: 22px;
  line-height: 26px;
  color: var(--blue-dark);
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider__nav.tns-nav-active .info__title {
  color: var(--white);
}

.all {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 30px;
  background-color: var(--blue);
  align-items: center;
}

.all__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.all__icon {
  stroke: var(--white);
  transition: 0.3s;
}

.all:hover .all__icon {
  stroke: var(--blue-1);
  transition: 0.3s;
}

.points {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin: -33px 0 0;
  position: absolute;
  top: 50%;
  left: 20px;
}

.points__item {
  width: 15px;
  height: 15px;
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.points__item.tns-nav-active {
  background-color: var(--blue-1);
}

.school {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  background-color: var(--blue-1);
}

.school__logo {
  flex-shrink: 0;
}

.school__group {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 1;
}

.school__name {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--white);
}

.main__wrap {
  display: flex;
  gap: 30px;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.organize {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 25px 20px;
  position: relative;
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.organize:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--black-opacity), 0.1);
  z-index: 1;
}

.organize:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(15, 3, 37, 0) 0%, rgba(12, 3, 37, 0.3) 35.8%, rgba(10, 3, 37, 0.5) 56.6%, rgba(9, 3, 37, 0.6) 65.4%, rgba(7, 3, 37, 0.752038) 80%, #040325 100%);
  z-index: 2;
}

.organize__texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}

.organize__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  max-width: 355px;
}

.organize__text {
  font-size: 20px;
  line-height: 20px;
  max-width: 265px;
}

.organize .button {
  z-index: 3;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.title--dark {
  color: var(--blue-dark);
}

.sidebar__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner {
  display: flex;
  width: 100%;
}
.banner__picture {
  display: flex;
  width: 100%;
}

.banner__img {
  width: 100%;
  height: auto;
}

.contacts {
  background-color: var(--blue-light-1);
}

.contacts__row {
  padding: 50px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.contacts__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 310px;
}

.contacts__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contacts__link {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.contacts__icon {
  fill: var(--white);
  flex-shrink: 0;
}

.contacts__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts__names {
  display: flex;
  flex-direction: column;
}

.contacts__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts__map {
  width: 60%;
  flex-shrink: 0;
}

.contacts__img {
  width: 100%;
  height: auto;
}

.matches {
  display: flex;
  flex-direction: column;
}

.matches__list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--gray-light-1);
  border-left: 1px solid var(--gray-light-1);
}

.matches__item {
  border-bottom: 1px solid var(--gray-light-1);
}

.matches__link {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 5px;
}

.matches__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 23%;
  flex-shrink: 0;
}

.matches__datetime {
  display: flex;
  align-items: center;
  gap: 5px;
}

.matches__digits {
  font-size: 16px;
  line-height: 15px;
  color: var(--blue-light-1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.matches__digits:first-child:after {
  content: '';
  width: 1px;
  height: 15px;
  background-color: var(--blue-light-1);
}

.matches__location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.matches__icon {
  flex-shrink: 0;
}

.matches__arena {
  font-size: 14px;
  line-height: 18px;
  color: var(--blue-light-1);
}

.matches__teams {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.matches__team {
  width: calc((100% - 60px) / 2);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  flex-shrink: 0;
}

.matches__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  color: var(--blue-dark);
}

.matches__picture {
  display: flex;
  flex-shrink: 0;
}

.matches__img {
  flex-shrink: 0;
}

.matches__scores {
  width: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "TTNorms", "Arial", sans-serif;
  flex-direction: column;
}

.matches__score {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue-light-1);
}

.matches__additional {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--blue-1);
}

.matches__team--revert .matches__name {
  text-align: left;
  order: 2;
}

.matches__team--revert .matches__picture {
  order: 1;
}

.matches__team--revert {
  justify-content: flex-start;
}

.matches__tournament {
  text-align: right;
  width: 23%;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue-dark);
}

.video {
  background-color: var(--blue-dark);
  padding: 50px 25px;
  position: relative;
}

.video:before {
  content: '';
  background-color: var(--blue-dark);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.top__link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.top__icon {
  stroke: var(--white);
  transition: 0.3s;
}

.top__link:hover .top__icon {
  stroke: var(--blue);
  transition: 0.3s;
}

.video__list {
  display: grid;
  grid-template-columns: calc(54% - 10px) calc(46% - 10px);
  grid-template-rows: repeat(2,1fr);
  gap: 20px;
}

.video__item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.video__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.video__item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
}

.video__link {
  align-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: relative;
}

.video__item:nth-child(1) .video__link {
  display: flex;
}

.video__wrapper {
  position: relative;
  width: 100%;
}

.video__item .video__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video__item:first-child .video__wrapper:before {
  background: linear-gradient(180deg, rgba(15, 3, 37, 0) 0%, rgba(10, 3, 37, 0.461458) 56.56%, #040325 100%);
}

.video__img {
  width: 100%;
  z-index: 1;
}

.video__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  z-index: 3;
}

.video__item:nth-child(1) .video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding: 15px;
}

.video__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.video__name {
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video__item:not(:first-child) .video__name {
  font-size: 16px;
  line-height: 18px;
}

.video__play {
  position: absolute;
  margin: -20px -20px 0 0;
  top: 50%;
  right: 50%;
  stroke: var(--white);
  fill: var(--white);
  z-index: 3;
}

.video__item:first-child .video__play {
  width: 50px;
  height: 50px;
  margin: -25px -25px 0 0;
}

.video--mobile {
  display: none;
}

.slider__navigations {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__navigation {
  padding: 5px;
}

.slider__point {
  width: 10px;
  height: 10px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.slider__navigation.tns-nav-active .slider__point {
  background-color: var(--white);
}

.tournament {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.thead {
  background-color: var(--blue-1);
  display: flex;
  flex-direction: column;
}

.thead__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.thead__top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.back {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back__icon {
  fill: var(--white);
  transition: 0.3s;
}

.back:hover .back__icon {
  fill: var(--blue);
  transition: 0.3s;
}

.back__text {
  text-transform: capitalize;
  color: var(--white);
}

.find {
  display: flex;
}

.find__border {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--white);
}

.find__input {
  flex-grow: 1;
  padding: 4px 0;
  background-color: inherit;
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
}

.find__input::-webkit-input-placeholder {
  color: var(--white);
}

.find__input:-moz-placeholder {
  color: var(--white);
  opacity: 1;
}

.find__input::-moz-placeholder {
  color: var(--white);
  opacity:  1;
}

.find__input:-ms-input-placeholder {
  color: var(--white);
}

.find__input::-ms-input-placeholder {
  color: var(--white);
}

.find__input::placeholder {
  color: var(--white);
}

.find__button {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find__icon {
  fill: var(--white);
  transition: 0.3s;
}

.find__button:hover .find__icon {
  fill: var(--blue);
  transition: 0.3s;
}

.tabs__navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.tabs__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 15px 35px;
  color: var(--blue-1);
  text-transform: uppercase;
  background-color: var(--gray-light-1);
  transition: 0.3s;
  justify-content: center;
}

.tabs__item--active .tabs__link,
.tabs__link:hover {
  background-color: var(--white);
  transition: 0.3s;
}

.tabs__pane {
  display: none;
}

.tabs__pane--active {
  display: block;
}

.tournament__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.filters-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filters__item {
  flex-direction: column;
  display: flex;
  gap: 5px;
}

.filters__item--tournament {
  width: 370px;
}

.filters__item--league {
  width: 230px;
}

.filters__label {
  font-size: 14px;
  line-height: 18px;
  padding: 0 10px;
  color: var(--blue-dark);
}

.indicators {
  background-color: var(--blue);
}

.indicators__wrap {
  position: relative;
  padding: 0 50px;
}

.indicators__tour {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  transition: 0.3s;
}

.indicators__item.tns-nav-active .indicators__tour,
.indicators__item:hover .indicators__tour {
  transition: 0.3s;
  background-color: var(--white);
  color: var(--blue-dark);
  box-shadow: 0 0 10px rgba(var(--dark-opacity), 0.05), 0 -1px 4px rgba(var(--dark-opacity), 0.1);
}

.indicators__arrow {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.indicators__arrow--left {
  left: 0;
  right: auto;
}

.indicators__icon {
  fill: var(--white);
  transition: 0.3s;
}

.indicators__arrow:hover .indicators__icon {
  fill: var(--blue-dark);
  transition: 0.3s;
}

.indicators__arrow--left .indicators__icon {
  transform: rotate(180deg);
}

.table-scroll {
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 1px solid var(--gray-light-1);
}

.table__border-right {
  border-right: 1px solid var(--gray-light-1);
}

.table__th {
  padding: 5px 10px;
  color: var(--blue-1);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  height: 40px;
  text-align: center;
}

.table__position {
  width: 45px;
}

.table__number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--blue-light);
  font-weight: 500;
}

th .table__number {
  color: var(--blue-1);
}

.table__cell {
  color: var(--blue-dark);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 5px 10px;
  height: 40px;
}

.table-tournament__team {
  text-align: left;
  width: 220px;
}

.table-tournament__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-tournament__picture {
  display: flex;
  flex-shrink: 0;
}

.table-tournament__name {
  text-transform: capitalize;
  font-weight: 500;
  color: var(--blue-dark);
}

.table-tournament__status {
  width: 45px;
}

.table-tournament__position {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-tournament__icon {
  flex-shrink: 0;
}

.table-tournament__position--up .table-tournament__icon {
  fill: var(--green-light);
  transform: rotate(180deg);
}

.table-tournament__position--down {
  fill: var(--red);
}

.table-tournament__sum {
  color: var(--blue-light);
}

.table-tournament__form {
  width: 130px;
}

.state {
  display: flex;
  align-items: center;
}

.state__link {
  padding: 5px;
  display: flex;
  flex-shrink: 0;
}

.state__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.state__link--win .state__circle {
  background-color: var(--green);
}

.state__link--loss .state__circle {
  background-color: var(--red-light);
}

.state__link--draw .state__circle {
  background-color: var(--gray-2);
}

.bests {
  background-color: var(--blue-1);
}

.bests .container {
  position: relative;
}

.bests__wrap {
  display: flex;
  align-items: center;
  gap: 105px;
  max-width: 955px;
  padding: 45px 0;
}

.bests__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  z-index: 2;
  text-transform: uppercase;
}

.bests__relative {
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}

.bests__decor {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: auto;
}

.bests__item {
  position: absolute;
}

.bests__item--gk {
  bottom: 130px;
  left: 33px;
}

.bests__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bests__img {
  border-radius: 50%;
  border: 1px solid var(--blue-1);
  background-color: var(--white);
  position: relative;
  top: 5px;
  z-index: 1;
}

.bests__row {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--blue-1);
  gap: 5px;
  z-index: 2;
}

.bests__number {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
}

.bests__column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bests__name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bests__team {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bests__item--lb {
  top: 25px;
  left: 95px;
}

.bests__item--rb {
  bottom: 35px;
  left: 95px;
}

.bests__item--cb {
  top: 25px;
  left: calc(50% + 30px);
}

.bests__item--cd {
  bottom: 35px;
  left: calc(50% + 30px);
}

.bests__field--mobile {
  display: none;
}










